body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	
	background-color: #F8F8F8;
}

/* unvisited link */
a:link {
  color: #2C6495;
}

/* visited link */
a:visited {
  color: #2C6495;
}

/* mouse over link */
a:hover {
  color: #2C6495;
}

/* selected link */
a:active {
  color: #2C6495;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 3em;
}

header #site_name {
	font-weight: bold;
	font-size: x-large;
}

header #site_tagline {
	font-size: large;
}

header li {
	display: inline-block;
	padding: 0 1em;
}

main {
	background-image: url("img/bg-photo.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35%;
    background-attachment: local;
    background-color: white;
}

main #jumbotron-text {
	width: 60%;
	margin: 0 1em;
	padding: 1em 0;

    text-align:justify;
}

.font_xxl {
    font-size: xx-large;
}

.font_xl {
    font-size: x-large;
}

.font_l {
	font-size: large;
}

.center {
	text-align: center;
}

footer {
	display: fixed;
	position: bottom;

	padding: 0.5em;
	text-align:center;
	
	background-color: #2C6495;
	color: white;
}
